.main-section {
  max-width: 1280px;
  padding: 85px 80px;
  margin: auto;
}

.main-section h1 {
  font-weight: 200;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  padding-bottom: 55px;
}

.main-section .row-reverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  align-items: center;
  padding-bottom: 55px;
}

.main-section .row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.main-section .text-container {
  max-width: 432px;
  margin: auto;
}

.main-section .text-container h2 {
  font-size: 32px;
  line-height: 40px;
}
.main-section .text-container p {
  font-size: 14px;
  line-height: 24px;
  padding: 16px 0;
}

.main-section .text-container .button {
  display: inline-block;
  padding: 12px 24px;
  color: rgba(50, 41, 47, 1);
  border: 1px solid rgba(50, 41, 47, 1);
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.main-section .image-container {
  width: 628px;
  height: 424px;
}

.main-section .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
