.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 80px;
  max-width: 1280px;
  margin: auto;
}
.navbar-brand p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(50, 41, 47, 1);
}

.navbar-hamb {
  display: none;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 58px;
}

@media only screen and (max-width: 992px) {
  .navbar-collapse {
    display: none;
    text-align: center;
  }
  .navbar-hamb {
    display: flex;
  }
}

.navbar-collapse .collapse .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
}

.navbar-collapse .collapse .navbar-nav .nav-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-collapse .collapse .navbar-nav .nav-item:hover {
  display: block;
  text-decoration: none;
  border-bottom: 2px solid rgba(161, 140, 154, 1);
  margin: 0;
}

.navbar-collapse .collapse .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: rgba(50, 41, 47, 1);
}
